[workspace]
members = [
	"cli",
	"core",
	"logic-test",
	"pkg/rust",
	"pkg/javascript/web",
	"storages/*",
	"test-suite",
	"utils",
]
default-members = [
	"cli",
	"core",
	"logic-test",
	"pkg/rust",
	"pkg/javascript/web",
	"storages/*",
	"test-suite",
	"utils",
]

# ref. https://github.com/rustwasm/wasm-pack/issues/1111
# enable this only for gluesql-js build
# [profile.release]
# opt-level = "s"
