[package]
name = "gluesql"
version = "0.1.0"
authors = ["Taehoon Moon <panarch@kaist.ac.kr>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
rand = "0.7"
sled = "0.29.2"
