[package]
name = "gluesql"
version = "0.8.0"
authors = ["Taehoon Moon <taehoon.moon@outlook.com>"]
edition = "2018"
description = "GlueSQL - Open source SQL database engine fully written in Rust with pure functional execution layer, easily swappable storage and web assembly support!"
license = "Apache-2.0"
repository = "https://github.com/gluesql/gluesql"
documentation = "https://docs.rs/gluesql/"
readme = "README.md"
keywords = ["sql-database", "sql", "functional", "no-mut-in-the-middle", "webassembly"]

[package.metadata.docs.rs]
all-features = true

[features]
default = ["sled-storage", "memory-storage", "alter-table", "sorter"]

# optional: ALTER TABLE
# you can include whether ALTER TABLE support or not for your custom database implementation.
alter-table = []

# optional: INDEX
index = []

# optional: TRANSACTION
transaction = []

# optional: ORDER BY for non-indexed expressions
# disable this feature if you use GlueSQL for big data analysis.
sorter = []

# for someone who wants to make a custom storage engine,
# default storage engine sled-storage is not required.
sled-storage = ["transaction", "index", "sled", "bincode"]

# BTreeMap based in-memory storage
memory-storage = ["sorter"]

[dependencies]
regex = "1.5"
async-trait = "0.1"
async-recursion = "0.3"
cfg-if = "1"
chrono = { version = "0.4", features = ["serde", "wasmbind"] }
rust_decimal = "1.15"
futures = "0.3"
indexmap = "1.7"
im-rc = "15.0"
iter-enum = "1"
itertools = "0.10"
pin-project = "1.0"
serde = { version = "1", features = ["derive"] }
sqlparser = { version = "0.9", features = ["serde"] }
thiserror = "1.0"
strum = "0.21"
strum_macros = "0.21"

# dependencies for sled-storage
bincode = { version = "1.3", optional = true }
sled = { version = "0.34.6", optional = true }

[dev-dependencies]
tokio = { version = "1.9", features = ["macros", "rt"] }
criterion = "0.3"

[[bench]]
name = "sled_benchmark"
harness = false
