[package]
name = "test-suite"
version = "0.0.0"
edition = "2021"

[dependencies]
gluesql-core = { path = "../core" }

async-trait = "0.1"
bigdecimal = "0.3"
uuid = "0.8"
chrono = "0.4"

[features]
sorter = ["gluesql-core/sorter"]
alter-table = ["gluesql-core/alter-table"]
index = ["gluesql-core/index"]
transaction = ["gluesql-core/transaction"]
metadata = ["gluesql-core/metadata"]
