[package]
name = "gluesql-cli"
version = "0.0.0"
authors = ["Taehoon Moon <taehoon.moon@outlook.com>"]
edition = "2021"

[dependencies]
gluesql-core = { path = "../core", features = ["alter-table", "metadata"] }
sled-storage = { path = "../storages/sled-storage" }
memory-storage = { path = "../storages/memory-storage" }

clap = { version = "3.0.0-rc.8", features = ["derive"] }
rustyline = "9.1"
rustyline-derive = "0.6"
comfy-table = "5"

[features]
default = ["gluesql-core/sorter", "sled-storage/sorter", "memory-storage/sorter"]
