name: Rust

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - run: rustup component add clippy rustfmt
      - name: Clippy (root)
        run: cargo clippy -- -D warnings
      - name: Clippy (core)
        run: |
          cd core
          cargo clippy --no-default-features -- -D warnings
          cargo clippy --no-default-features --features alter-table -- -D warnings
          cargo clippy --no-default-features --features index -- -D warnings
          cargo clippy --no-default-features --features transaction -- -D warnings
          cargo clippy --no-default-features --features "alter-table index" -- -D warnings
          cargo clippy --no-default-features --features "alter-table transaction" -- -D warnings
          cargo clippy --no-default-features --features "index transaction" -- -D warnings
          cargo clippy --no-default-features --features "alter-table index transaction" -- -D warnings
          cargo clippy --all-features --all-targets -- -D warnings
          cd ../
      - name: Rustfmt
        run: cargo fmt -- --check
      - name: Build
        run: cargo build --all-features --verbose
      - name: Run tests
        run: cargo test --no-default-features --verbose
      - name: Run tests with all features
        run: cargo test --all-features --all-targets --verbose
